.user-card {
    max-width: 40vw;
    margin-left: auto;
    margin-right: auto;
    mat-card-header{

        .mat-card-avatar{
            margin-top: 5px;
            margin-left: 10px;
            margin-right: 10px;
            max-width: 40px;
        }
    }
    mat-card-content{
        margin-top: 20px;
        margin-left: 5px;
    }
}