<div>
    <div class="change-password-dialog">
        <h2 mat-dialog-title>Reimposta Password</h2>
        <form #f="ngForm" class="form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
            <mat-dialog-content>
                <p>Inserire una nuova password</p>
                <mat-form-field appearance="standard">
                    <mat-label for="newPsw">Nuova Password</mat-label>
                    <input matInput required="true" placeholder="Password1234" name="newPsw" formControlName="newPsw" type="password"/>
                    <mat-error *ngIf="changePasswordForm.controls.newPsw.invalid">Deve contenere almeno 1 numbero, 1 lettera Maiuscola e 1 minuscola</mat-error>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label for="confirmPsw">Conferma nuova Password</mat-label>
                    <input matInput required="true" placeholder="Password1234" name="confirmPsw" formControlName="confirmPsw" type="password"/>
                    <mat-error *ngIf="changePasswordForm.controls.confirmPsw.invalid">Deve contenere almeno 1 numbero, 1 lettera Maiuscola e 1 minuscola</mat-error>
                </mat-form-field>
                <mat-error style="font-size:12px; margin-top: 20px;" *ngIf="changePasswordForm.errors?.mustMatch">Le due password non corrispondono</mat-error>
            </mat-dialog-content>
            <mat-dialog-actions>
                <button mat-raised-button color="accent" *ngIf="!userHasToChangePassword" mat-dialog-close="false">Chiudi</button>
                <button mat-raised-button color="accent" *ngIf="userHasToChangePassword" (click)="logout()">Logout</button>
                <button mat-raised-button color="accent" type="submit">Modifica</button>
            </mat-dialog-actions>
        </form>
    </div>
</div>